main{
    display: block;
    flex: 1 0 auto;
}

.home .entry-header{
    padding:2rem 0;
    text-align: center;
}

.home .entry-header p{
    font-size:1.25rem;
    color: #878787;
}

.entry-lists{
    display: flex;
    flex-wrap: wrap;
    margin-left:-3%;
    margin-right: -0.1%;
}

.entry-lists article{
    position: relative;
    width: 290px;
    height: 290px;
    margin-top: 3%;
    margin-left: 10%;
    display:flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    flex:1 0 auto;
}

.entry-lists article .post-thumb{
    width:100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.entry-lists article a{
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    opacity: 0;
}

.entry-lists article a:hover {
    opacity: 1;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}
.pagintor{
    margin: 3rem 0;
    display: flex;
    align-content: center;
    justify-content: space-around;
}

.more{
    padding-top:1.45rem;
    width:6rem;
    height:5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #ddd;
    border-radius: 30%;
    color:#444;
}

.homebutton{
    display: block;
}



.entry-header .to-posts{
    display: inline-block;
    border-radius: 25px;
    margin-top:15px;
    padding: 15px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    border: 1px solid #ddd;
}

.to-posts:hover{
    color: #fff;
    background: #222;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

#createPost{
    font-size:16px;
    padding: 8px 25px;
    background: #fff;
    border-radius: 20px;
    text-align: center;
}

#createPost:hover{
    color: white;
    text-decoration: none;
    transition: ease-in-out all 0.3s;
    background: #ea6f5a;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}