.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-weight: 400;
  font-style: normal;
  color:#444;
  margin:0;
  font-size: 16px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container{
  max-width: 960px;
  margin:0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

a{
  text-decoration: none;
}

div{
  display: block;
}
