.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-weight: 400;
  font-style: normal;
  color:#444;
  margin:0;
  font-size: 16px;
}



.container{
  max-width: 960px;
  margin:0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

a{
  text-decoration: none;
}

div{
  display: block;
}
